/*HOMEPAGE */
/* Seletor Universal */
* {
    margin: 0;                        /* Remove margens padrão*/
    padding: 0;                       /* Remove preenchimento padrão */
    box-sizing: border-box;           /* Inclui borda e preenchimento no cálculo do tamanho */
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif; /*Define a fonte*/
}

/* Scroll */
html {
    scroll-behavior: smooth;          /* deixa scroll mais suave */
}

/* Estilo da barra de navegação */
.bng-navbar {
    background-color: #a33c44;      /* define a cor de fundo */
    display: flex;                    /* alinha os elementos */
    align-items: center;              /* centraliza elementos na vertical */
    justify-content: space-between;   /* espaço entre blocos */
    padding: 10px 20px;               /* espaçamento interno da barra */
    position: sticky;                 /* permite fixar a barra no topo, aquando do scroll */
    top: 0;                           /* barra no topo da página */  
    z-index: 1000;                    /* garante que a barra fique acima de outros elementos */
}

/* Estilo dos div na barra de navegação */
.bng-navbar div {
    display: flex;                    /* elementos lado a lado */
    align-items: center;              /* centraliza elementos na vertical */   
}

/* Estilo do logótipo */ 
.bng-navbar img {
    height: 80px;                     /* define a altura */
    margin-right: 10px;               /* espaço entre o logo e o texto */
}

/* Estilo do texto do nome da empresa */
.bng-navbar h2 {
    font-size:1.8em;                  /* aumenta tamanho da letra */
    color: white;                   /* cor do texto */
}

/* Estilo para links centrais */
.container-navegacao {
    text-align: center;               /* centraliza os links */
    padding: 20px;                    /*adição de espaçamento interno */
}

.container-navegacao a{
    font-size: 1.3em;                 /* aumenta o tamanho da letra */
    margin: 0px 40px;                 /* espaçamento horizontal */
    text-decoration: none;            /* remove sublinhado */
    color: white;                   /* cor do texto */
}

.container-navegacao a:hover {
    color: #602323;                 /* cor do texto muda ao passar o rato */
}

/* Estilos para o botão da área cliente */
.nav-cliente a{  
    display: inline-block;            /* define largura e altura e mantém como botão em linha */
    background-color: #602323;      /* cor de fundo */
    color: white;                   /* cor do texto */
    padding: 10px 20px;               /* espaçamento interno */
    text-decoration: none;            /* remove sublinhado */
    border-radius: 20px;              /* bordas arredondadas */
}

/* Efeito ao passar o rato no botão */
.nav-cliente a:hover {
    background-color: #ffc9c9;      /* cor de fundo */
}

/* Estilo para Rodapé */
.footer-container {
    display: flex;                    /* layout flexível */
    background-color:#a33c44;       /* cor de fundo */
    color: white;                   /* cor do texto */
    padding: 20px 20px;               /* espaçamento interno */
    flex-wrap: wrap;                  /* ajuste dos elementos em ecrãs pequenos */
    bottom:0;                         /* posiciona o rodapé no fundo da página */
    left: 0;                          /* posiciona o rodapé à esquerda */
    width: 100%;                      /* largura total da página */
}

.footer-section {
    flex: 1;                          /* cada seção ocupa o mesmo espaço */
    min-width: 250px;                 /* largura mínima para cada secção */
    padding: 10px;                    /* espaçamento interno */
    text-align: center;               /* centraliza o texto */
}

.footer-section strong {
    font-size: 1.2rem;                /* aumenta o tamanho do texto */
    display: block;                   /* ocupa toda a largura */
    margin-bottom: 12px;              /* espaçamento abaixo do título */
    color: white;                   /* cor de destaque do texto */
}

.footer-section p{
    font-size: 1rem;                  /* define o tamanho do texto */
    color: white;                   /* cor do texto */
}

/* Texto genérico */
.container-texto-generico {
    display: flex;                    /* layout flexível */
    justify-content: center;          /* centraliza elementos horizontalmente */
    flex-wrap: wrap;                  /* ajuste dos elementos em ecrãs pequenos */
    gap: 20px;                        /* espaçamento entre os elementos */
    padding: 100px 40px;              /* espaçamento interno */
    text-align: center;               /* centraliza o texto */
    min-height: 100vh;                /* altura mínima para ocupar toda a tela */
}

/* Secção "Bem-vindo" */
#bem-vindo {
    display: flex;                    /* layout flexível */
    flex-direction: column;           /* organiza os elementos em coluna */
    align-items: center;              /* centraliza elementos na vertical */
    justify-content: center;          /* espaço entre elementos */
    gap: 35px;                        /* espaçamento entre elementos */
    padding: 60px 0px;                /* espaçamento interno */
    min-height: calc(100vh - 150px);  /* altura mínima para ocupar toda a tela */
    background-color: white;        /* cor de fundo */
    scroll-margin-top: 70px;          /* espaço para scroll */
}

.bem-vindo-content {
    max-width: 900px;                 /* largura máxima para limitar o texto */
    text-align: center;               /* centraliza o texto */
}

#bem-vindo h1 {
    font-size: 2.8em;                 /* aumenta o tamanho do título */
    margin-bottom: 20px;              /* espaçamento abaixo do título */
    color: black;                   /* cor do título */
    text-shadow: 2px 2px 8px rgba(3, 3, 3, 0.352); /* sombra para destacar o título */
} 

#bem-vindo p {
    font-size: 1.2em;                 /* aumenta o tamanho do texto */              
    margin-bottom: 0px;               /* espaçamento abaixo do parágrafo */
    color: black;                   /* cor do texto */
    display: flex;                    /* layout flexível */
    align-items: center;              /* centraliza elementos na vertical */
    justify-content: center;          /* centraliza elementos na horizontal */
    gap: 20px;
}

#bem-vindo p::before, #bem-vindo p::after {
    content: "";                      /* necessário para criar os elementos antes e depois */
    width: 80px;                      /* largura da linha */
    height: 3px;                      /* espessura da linha */
    background-color: #602323;      /* cor da linha */
    border-radius: 10px;              /* bordas arredondadas */
}

.bem-vindo-imagens {
    width: 100%;                      /* largura total da seção */
    display: flex;                    /* layout flexível */
    justify-content: center;          /* centraliza a imagem horizontalmente */
    position: relative;               /* posicionamento da imagem */
    align-items: center;              /* centraliza a imagem verticalmente */
}

.bem-vindo-imagens img {
    width: 100%;                      /* a imagem ocupa toda a largura */
    height: 500px;                    /* define a altura da imagem */
    object-fit: cover;                /* corta a imagem sem distorcer */
}

.slider-btn {
    position: absolute;               /* posicionamento da seta na imagem */
    top: 50%;                         /* centraliza verticalmente */
    transform: translateY(-50%);      /* ajusta para centralizar */
    background: transparent;          /* cor de fundo transparente */
    border: none;                     /* remove borda */
    color: white;                   /* cor da seta */
    font-size: 2.7em;                 /* tamanho da seta */
    cursor: pointer;                  /* cursor "mão" ao passar o rato */
    padding: 5px;                     /* espaçamento interno da seta */
    z-index: 3;                       /* garante que as setas fiquem acima da imagem */
}

.slider-prev {
    left: 35px;                       /* posiciona a seta anterior à esquerda */
}

.slider-next {
    right: 35px;                      /* posiciona a seta seguinte à direita */
}

.slider-btn:hover {
    color: #fff;                    /* cor da seta ao passar o rato */
    transform: translateY(-50%) scale(1.1); /* aumenta a seta ao passar o rato */
}


/* Secção "Sobre nós" */
#sobre-nos {
    text-align: center;               /* centraliza o texto */
    padding: 100px 80px;              /* espaçamento superior e inferior */
    scroll-margin-top: 20px;          /* espaço para scroll */
}

.sobre-nos-content {
    max-width: 1200px;                /* largura máxima para limitar conteúdo */
    margin: 0 auto;                   /* centraliza o conteúdo */
    display: flex;                    /* layout flexível */
    align-items: center;              /* centraliza elementos na vertical */
    justify-content: space-between;   /* espaço entre elementos */
    gap: 40px;                        /* espaçamento entre elementos */
}

.sobre-nos-imagem {
    flex: 1;                          /* ocupa o mesmo espaço que o texto */
}

.sobre-nos-imagem img {
    width: 500px;                     /* ocupa toda a largura */
    height: 350px;                    /* mantém a proporção da imagem */
    border-radius: 15px;              /* bordas arredondadas */
}

.sobre-nos-texto {
    flex: 1;                          /* ocupa o mesmo espaço que a imagem */
    text-align: center;               /* alinha o título à esquerda */
    display: flex;                    /* layout flexível */
    flex-direction: column;           /* organiza os elementos em coluna */
    justify-content: center;          /* centraliza os elementos verticalmente */
    align-items: center;              /* centraliza os elementos horizontalmente */
}


#sobre-nos h1 {
    font-size: 2em;                   /* aumenta o tamanho do título */
    margin-bottom: 12px;              /* espaçamento abaixo do título */
    display: flex;                    /* layout flexível */
    align-items: center;              /* centraliza elementos na vertical */
    justify-content: center;          /* centraliza elementos na horizontal */
    gap: 20px;                        /* espaçamento entre o título e o ícone */
}

#sobre-nos h1::before, #sobre-nos h1::after {
    content: "";                      /* necessário para criar os elementos antes e depois */
    width: 80px;                      /* largura da linha */
    height: 3px;                      /* espessura da linha */
    background-color: #602323;      /* cor da linha */
    border-radius: 10px;              /* bordas arredondadas */
}

#sobre-nos p {
    font-size: 1.2em;                 /* aumenta o tamanho do texto */
    margin-bottom: 30px;              /* espaçamento abaixo do parágrafo */
    line-height: 1.6;                 /* aumenta o espaçamento entre linhas para melhor legibilidade */
}


.button {
    display: inline-block;            /* define largura e altura e mantém como botão em linha */
    background-color: #602323;      /* cor de fundo */
    color: white;                   /* cor do texto */
    padding: 10px 20px;               /* espaçamento interno */
    text-decoration: none;            /* remove sublinhado */
    border-radius: 20px;              /* bordas arredondadas */
}

/* Efeito ao passar o rato no botão */
.button:hover {
    background-color: #ffc9c9;      /* cor de fundo */
}


/* Secção serviços */
section { 
    padding: 100px 40px;              /* Espaçamento interno nas secções (superior/inferior e laterais) */ 
    text-align: center;               /* Centraliza todo o conteúdo textual por padrão */ 
    min-height: 100vh;                /* Garante que cada secção tenha pelo menos a altura de uma janela inteira */
}  

#servicos {
    max-width: 1200px;                /* largura máxima para limitar conteúdo */
    margin: 50px auto;                /* centraliza o conteúdo */
    padding: 50px;                    /* espaçamento interno */
    scroll-margin-top: 75px;          /* espaço para scroll */
}

#servicos-container {
    display: flex;                    /* organiza os elementos em linha */
    flex-wrap: wrap;                  /* permite passagem dos elementos para outra linha em ecrãs menores */
    justify-content: center;          /*centraliza elementos na horizontal*/
}

.servicos-card {
    width: 300px;                     /* largura fixa para cada bloco*/
    margin: 20px;                     /*espaçamento entre blocos */
    padding: 30px;                    /*espaçamento interno */
    background-color: #f5eded;      /* cor de fundo */
    border-radius: 20px;              /* bordas arredondadas */
    text-align: center;               /* centraliza o texto dentro de cada bloco */
    transition: 0.3s;                 /* transição suave para efeitos de hover */
}

.servicos-card i{
    font-size: 40px;                  /*tamanho do ícone */
    color: #a33c44;                 /* cor do ícone */
    margin-bottom: 20px;              /*espaçamento */
}

#servicos h1 {
    font-size: 2em;                   /* aumenta o tamanho do título */
    margin-bottom: 12px;              /* espaçamento abaixo do título */
    display: flex;                    /* layout flexível */
    align-items: center;              /* centraliza elementos na vertical */
    justify-content: center;          /* centraliza elementos na horizontal */
    gap: 20px;                        /* espaçamento entre o título e o ícone */
}

#servicos h1::before, #servicos h1::after {
    content: "";                      /* necessário para criar os elementos antes e depois */
    width: 80px;                      /* largura da linha */
    height: 3px;                      /* espessura da linha */
    background-color: #602323;      /* cor da linha */
    border-radius: 10px;              /* bordas arredondadas */
}

#servicos p {
    font-size: 1em;                   /* aumenta o tamanho do texto */
    margin-bottom: 5px;               /* espaçamento abaixo do parágrafo */
    line-height: 1.6;                 /* aumenta o espaçamento entre linhas para melhor legibilidade */
}

/* Efeito ao passar o rato no bloco */
.servicos-card:hover {
    transform: translateY(-8px) scale(1.03);          /* eleva o bloco e aumenta ligeiramente */
    box-shadow: 0 15px 30px rgba(74, 14, 14, 0.76);     /* adiciona sombra para destacar o bloco */
}



/* Secção contacto */
#contacto {
    scroll-margin-top: 25px;          /* espaço para scroll */
}

#contacto form {
    display: flex;                    /* layout flexível */
    flex-direction: column;           /* organiza os elementos em coluna */
    max-width: 500px;                 /* largura máxima para limitar conteúdo */
    margin: 0 auto;                   /* centraliza o formulário */
}

#contacto label {
    margin-top: 10px;                 /* espaçamento acima do rótulo */
}

#contacto input, #contacto textarea {
    padding: 10px;                    /* espaçamento interno */
    margin-bottom: 15px;              /* espaçamento abaixo de cada campo */
    border: 1px solid #ddd;         /* borda */
    border-radius: 20px;              /* bordas arredondadas */
}

#contacto h1 {
    font-size: 2em;                   /* aumenta o tamanho do título */
    margin-bottom: 5px;               /* espaçamento abaixo do título */
    display: flex;                    /* layout flexível */
    align-items: center;              /* centraliza elementos na vertical */
    justify-content: center;          /* centraliza elementos na horizontal */
    gap: 20px;                        /* espaçamento entre o título e o ícone */
}

#contacto h1::before, #contacto h1::after {
    content: "";                      /* necessário para criar os elementos antes e depois */
    width: 80px;                      /* largura da linha */
    height: 3px;                      /* espessura da linha */
    background-color: #602323;      /* cor da linha */
    border-radius: 10px;              /* bordas arredondadas */
}

#contacto p {
    font-size: 1em;                   /* aumenta o tamanho do texto */
    margin-bottom: 12px;              /* espaçamento abaixo do parágrafo */
    line-height: 1.6;                 /* aumenta o espaçamento entre linhas para melhor legibilidade */
    
}

#contacto button {
    background-color: #602323;      /* cor de fundo */
    color: #fff;                    /* cor do texto */
    padding: 10px 20px;               /* espaçamento interno */
    border: none;                     /* remove borda */
    border-radius: 20px;              /* bordas arredondadas */
    cursor: pointer;                  /* cursor "mão" ao passar o rato */
}

/* Efeito ao passar o rato no botão */
#contacto button:hover {
    background-color: #ffc9c9;      /* cor de fundo */
}


/* Responsividade Tablets */
@media (max-width: 768px) {
    .bng-navbar {
        flex-direction: row;           /* organiza os elementos em coluna */
        gap: 6px;                        /* espaçamento entre os elementos */
        padding: 8px 10px;               /* espaçamento interno da barra */
        position:sticky;
        top: 0;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .bng-navbar img {
        height: 45px;
    }

    .bng-navbar h2 {
        font-size: 1.1em;
    }

    .container-navegacao {
        display: flex;                    /* layout flexível */
        flex-direction: row;           /* organiza os elementos em coluna */
        gap: 10px;
        padding: 0;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .container-navegacao a {
        margin: 0;                   /* espaçamento vertical entre os links */
        font-size: 0.85em;                 /* reduz o tamanho da letra */
        white-space: nowrap;
    }

    .nav-cliente {
        margin: 0;
    }

    .nav-cliente a{
        padding: 6px 12px;
        font-size: 0.85em;
    }
    
    #bem-vindo, .sobre-nos-content {
        flex-direction: column;           /* organiza os elementos em coluna */
        text-align: center;               /* centraliza o texto */
    }
    
    .bem-vindo-content, .sobre-nos-texto {
        align-items: center;              /* centraliza elementos na vertical */
        text-align: center;               /* centraliza o texto */
    }

    .bem-vindo-imagens img, .sobre-nos-imagem img {
        width: 100%;                      /* a imagem ocupa toda a largura */
        height: auto;                     /* mantém a proporção da imagem */
    }
    
    .servicos-cards {
        flex-direction: column;           /* organiza os elementos em coluna */
        align-items: center;              /* centraliza elementos na vertical */
    }

    .servicos-card {
        width: 90%;                      /* largura reduzida para se ajustar à tela */
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1px;
    }

    .footer-section {
        flex: 1;
        text-align: center;
        font-size: 0.6em;
    }
}

/* Responsividade Telemóveis */
@media (max-width: 480px) {
    #bem-vindo, #sobre-nos, #servicos, #contacto {
        padding: 60px 20px;
    }

    #bem-vindo h1, #sobre-nos h1, #servicos h1, #contacto h1 {
        font-size: 1.8em;
    }

    #bem-vindo p, #sobre-nos p, #servicos p, #contacto p {
        font-size: 1em;
    }

    .bng-navbar {
        flex-direction: column;
        align-items: center;
        gap: 8px;
        padding: 10px;
    }

    .bng-navbar img {
        height: 35px;
    }

    .bng-navbar h2 {
        font-size: 1em;
    }

    .container-navegacao {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
    
    .container-navegacao a {
        margin: 0;
        font-size: 0.5em;
    }

    .nav-cliente a{
        display: inline-block;
        padding: 5px 10px;
        font-size: 0.75em;
    }

    .logo {
        width: 100px;
    }

    .bem-vindo-imagens img {
        height: 250px;
    }

    .sobre-nos-imagem img {
        width: 100%;
    }

    .footer-container {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    html, body {
        overflow-x: hidden;
    }
}


/*Página Login */
.login-page {
    background-color: white;        /* cor de fundo */ 
    min-height: 100vh;                /* altura mínima para ocupar toda a tela */
    display: flex;                    /* layout flexível */
    justify-content: center;          /* centraliza elementos na horizontal */
    align-items: center;              /* centraliza elementos na vertical */
}

.card {
    background-color: #a33c44;      /* cor de fundo */
    border-radius: 15px;              /* bordas arredondadas */
    border: none;                     /* remove borda */
    min-height: 400px;
}

.login-icon {
    width: 100px;                     /* define a largura do círculo */
    height: 100px;                    /* define a altura do círculo */
    background-color: white;        /* cor de fundo */
    border-radius: 50%;               /* bordas arredondadas */
    display: flex;                    /* layout flexível */
    justify-content: center;          /* centraliza elementos na horizontal */
    align-items: center;              /* centraliza elementos na vertical */
    margin: 0 auto 20px auto;         /* margens */
    margin-top: 20px;
}

.login-icon i {
    font-size: 2.8rem;
    color: #602323;
}

.card h2 {
    color: white;                   /* cor do texto */
    margin: 0;                        /* remove margens padrão */
    font-weight: bold;                /* negrito */
    font-size: 2.5em;                 /* aumenta o tamanho do texto */
    text-align: center;               /* centraliza o texto */
    padding-top: 15px;                /* espaçamento acima do título */
    display: flex;                    /* layout flexível */
    align-items: center;              /* centraliza elementos na vertical */
    justify-content: center;          /* centraliza elementos na horizontal */
    gap: 20px;                        /* espaçamento entre o título e o ícone */
}

.card h2::before, .card h2::after {
    content: "";                      /* necessário para criar os elementos antes e depois */
    width: 60px;                      /* largura da linha */
    height: 3px;                      /* espessura da linha */
    background-color: white;        /* cor da linha */
    border-radius: 10px;              /* bordas arredondadas */
}

.form-label {
    color: white;                   /* cor do texto */
    text-align: center;               /* centraliza o texto */
    display: block;                   /* ocupar toda a largura */
    margin-top: 15px;                 /* espaçamento acima */
    margin-bottom: 10px;              /* espaçamento abaixo */
    font-size: 1.1em;                 /* aumenta o tamanho do texto */
}

.form-control {
    border-radius: 15px;              /* bordas arredondadas */
}

.input-group-text {
    background-color:#3f1313; 
    color: white;
    border: none;
    border-radius: 15px 0 0 15px;
}

.forgot-password {
    color: white;
    text-decoration: none;
    font-size: 0.95rem;
}

.forgot-password:hover {
    color:#ffc9c9;
}

.btn-secondary {
    background-color: #602323;      /* cor de fundo */
    border: none;                     /* remove borda */
    border-radius: 15px;              /* bordas arredondadas */
    margin-top: 20px;                 /* espaçamento acima do botão */
}

.btn-secondary:hover {
    background-color: #ffc9c9;      /* cor de fundo */
}


/*Página EQUIPAMENTOS - INSERIR */
.admin-navbar {
    background-color: #a33c44;
    padding: 10px 20px;
}

.admin-sidebar {
    background-color: #c9757b;
}

.admin-card {
    border-radius: 20px;
    border: none;
    background-color: #ebcecea5;
}

body {
    font-family: "Titillium Web", sans-serif;
}

.admin-navbar h3 {
    font-size: 2rem;
    font-weight: 700;
}

.offcanvas.admin-sidebar {
    width: 280px;
}

.offcanvas.admin-sidebar .offcanvas-header {
    position: relative;
}

.offcanvas.admin-sidebar .offcanvas-title { 
    font-size: 1.4rem; 
    font-weight: 700; 
    border-left: 3px solid white;
    padding-left: 10px;
    margin-left: -13px;
} 

.offcanvas.admin-sidebar .btn-close { 
    position: absolute; 
    right: 15px; 
}

.offcanvas.admin-sidebar .nav-link:hover {
    color:#602323 !important;
}

.nav-link {
    font-size: 1.09rem;
    font-weight: 400;
}

.card h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
}

.form-label {
    font-size: 1.1rem;
    font-weight: 600;
}

.form-control, .form-select {
    font-size: 1rem;
}

.admin-btn-save {
    background-color:#602323;
    border: none;
    border-radius: 20px;
    color:white;
    padding: 10px 20px;
    transition: 0.3s;
    margin-top: 15px;
}

.admin-card, .admin-card h2, .admin-card label, .admin-card p {
    color: #3f1313;
}

.admin-btn-save:hover {
    background-color:#ffc9c9;
}

.admin-btn-cancel {
    background-color: transparent;
    border: 2px solid #602323;
    border-radius: 20px;
    color:#602323;
    padding: 10px 20px;
    transition: 0.3s;
    margin-top: 15px;
}

.admin-btn-cancel:hover {
    background-color:#ffc9c9;
    color: white;
}


/*Página EQUIPAMENTOS - LISTAR */
.admin-btn-new {
    background-color: #602323;
    border: none;
    border-radius: 20px;
    color: white;
    font-family: "Titillium Web", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 18px;
    transition: 0.3s;
}

.admin-btn-new:hover {
    background-color: #ffc9c9;
    color: white;
}

.table-header th{
    background-color: #261414;
    color: white;
}


/*Página EQUIPAMENTOS - DETALHES */
.detail-box {
    background-color: white;
    border-radius: 12px;
    padding: 10px 15px;
    min-height: 45px;
    color: black !important;
}

.admin-card .form-label {
    text-align: left;
}

.admin-card .card-body {
    padding-left: 30px;
    padding-right: 30px;
}

.detail-section-title {
    font-weight: 700;
    font-size: 1.3rem;
    color:#3f1313;
    margin-bottom: 20px;
}

.detail-label {
    font-weight: 400;
    text-decoration: underline;
    margin-bottom: 8px;
    display: block;
}

.btn-outline-secondary {
    background-color: #3f1313;
    border-radius: 20px;
    border: none;
    color: white; 
}

.btn-outline-secondary:hover {
    background-color: #ffc9c9;
}  

/*Página EQUIPAMENTOS - REMOVER */
.remove-warning-icon {
    color:#3f1313;
}







