<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stay This.Positive</title>

    <!-- Bootstrap CSS & custom CSS -->
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/1241327.css"> 

    <!-- Google Fonts -->     
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,700;1,400&display=swap" rel="stylesheet"> 

    <!-- Favicon -->
    <link rel="shortcut icon" href="../../../assets/img/logo branco.png" type="image/png">

    <!-- Fontawesome  -->
    <link rel="stylesheet" href="../../../assets/fontawesome/all.min.css">

</head>

<body>
    <!-- Navbar -->
    <header class="container-fluid admin-navbar text-white">
        <div class="row align-items-center">
            <div class="col-6 d-flex align-items-center p-3">
                <!-- Logo e nome -->
                <a href="../../indexpriv.html">
                    <img src="../../../assets/img/logo branco.png" alt="Logótipo da empresa" height="80" class="me-3">
                </a>
                <h3 class ="mb-0">Stay This.Positive</h3>
            </div>

            <div class="col-6 text-end p-3">
                <div class="dropdown">
                    <button class="btn admin-user-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-regular fa-user me-2"></i>Utilizador</button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-key me-2"></i>Alterar palavra-passe</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="../../login/login.html"><i class="fa-solid fa-right-from-bracket me-2"></i>Sair</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <!-- Botão do menu -->
    <button class="btn admin-menu-btn m-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuLateral"><i class="fa-solid fa-bars"></i></button>

    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div class="offcanvas offcanvas-start admin-sidebar text-white" tabindex="-1" id="menuLateral">
                <div class="offcanvas-header">
                    <h4 class="offcanvas-title">Menu</h4>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
                </div>

                <div class="offcanvas-body">
                    <nav>
                        <a href="../equipamentos/listar.html" class="nav-link text-white px-0 mb-3 d-block">
                            <i class="fa-solid fa-laptop-medical"></i> &ensp; Equipamentos</a>
                        <a href="../fornecedores/listar.html" class="nav-link text-white px-0 mb-3 d-block">
                            <i class="fa-solid fa-truck-medical"></i> &ensp; Fornecedores</a>
                        <a href="listar.html" class="nav-link text-white px-0 mb-3 d-block">
                            <i class="fa-solid fa-house-medical-flag"></i> &ensp; Localizações</a>
                        <a href="../documentacao/listar.html" class="nav-link text-white px-0 mb-3 d-block">
                            <i class="fa-solid fa-clipboard-user"></i> &ensp; Documentação</a>
                        <a href="../garantias_contratos/listar.html" class="nav-link text-white px-0 mb-3 d-block">
                            <i class="fa-solid fa-receipt"></i> &ensp; Garantias/Contratos</a>
                        <a href="../dashboard/dashboard.html" class="nav-link text-white px-0 mb-3 d-block">
                            <i class="fa-solid fa-file-waveform"></i> &ensp; Dashboard</a>
                        <hr>
        
                        <a href="../conteudos/conteudos.html" class="nav-link text-white px-0 mb-3 d-block">
                            <i class="fa-solid fa-pen-to-square"></i> &ensp; Conteúdos Públicos</a>
                    </nav>
                </div>
            </div>

            <!-- Conteúdo Principal -->
            <main class="col-12 pt-3 px-4 ps-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2 class="mb-0">
                        <i class=""></i><strong>Listagem de Localizações</strong>
                    </h2>
                    <a href ="inserir.html" class="btn admin-btn-new">
                        <i class="fa-solid fa-plus me-1"></i>Nova Localização
                    </a>
                </div>
                <hr> 

                <!-- Pesquisa, filtros, vista e ordenação -->
                <div class="d-flex flex-wrap align-items-center gap-2 mb-5 pb-2">
                    
                    <!-- Pesquisa -->
                    <div class="flex-grow-1">
                        <input type="text" class="form-control" placeholder="Pesquisar por edifício, piso ...">
                    </div>
                    
                    <!-- Filtros rápidos -->
                    <select class="form-select" style="max-width: 145px;">
                        <option value="" selected disabled>Edifício</option>
                        <option value="bloco_a">Bloco A</option>
                        <option value="bloco_b">Bloco B</option>
                        <option value="bloco_c">Bloco C</option>
                        <option value="bloco_d">Bloco D</option>
                        <option value="bloco_e">Bloco E</option>
                        <option value="bloco_f">Bloco F</option>
                    </select>

                    <select class="form-select" style="max-width: 145px;">
                        <option value="" selected disabled>Piso</option>
                        <option value="piso_1">Piso 1</option>
                        <option value="piso_2">Piso 2</option>
                        <option value="piso_3">Piso 3</option>
                        <option value="piso_4">Piso 4</option>
                        <option value="piso_5">Piso 5</option>
                    </select>

                    <select class="form-select" style="max-width: 145px;">
                        <option value="" selected disabled>Serviço</option>
                        <option value="urgencias">Urgências</option>
                        <option value="uci">Unidade de Cuidados Intensivos</option>
                        <option value="pediatria">Pediatria</option>
                        <option value="cardiologia">Cardiologia</option>
                        <option value="neurologia">Neurologia</option>
                        <option value="ortopedia">Ortopedia</option>
                        <option value="radiologia">Radiologia</option>
                        <option value="imagiologia">Imagiologia</option>
                        <option value="laboratorio_analises">Laboratório de Análises Clínicas</option>
                        <option value="farmacia">Farmácia Hospitalar</option>
                    </select>

                    <!-- Botão de pesquisa -->
                    <button class="btn admin-btn-cancel filter-btn mt-0">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>

                <div class="d-flex justify-content-between align-items-center mb-3">
                    <p class="text-muted">Localizações registadas: [número de registos]</p>
                    <div class="d-flex gap-2">
                        <select class="form-select" style="width: 180px;">
                            <option value="" selected disabled>Ordenar por</option>
                            <option>Código</option>
                            <option>Edifício</option>
                            <option>Piso</option>
                            <option>Serviço</option>
                        </select>

                        <button id="btnResumo" class="btn admin-btn-view active" title="Vista resumo">
                            <i class="fa-solid fa-table"></i>
                        </button>

                        <button id="btnDetalhe" class="btn admin-btn-view" title="Vista detalhe">
                            <i class="fa-solid fa-table-columns"></i>
                        </button>
                    </div>
                </div>

                <div id="vistaResumo">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped align-middle">    
                            <thead class="table-header">
                                <tr>
                                    <th class="text-center">Edifício</th> 
                                    <th class="text-center">Piso</th> 
                                    <th class="text-center">Serviço/departamento</th> 
                                    <th class="text-center">Sala/Gabinete</th> 
                                    <th class="text-center">Ações</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr>
                                    <td class="text-center">[Edifício]</td> 
                                    <td class="text-center">[Piso]</td>  
                                    <td class="text-center">[Serviço/departamento]</td> 
                                    <td class="text-center">[Sala/Gabinete]</td> 
                                    <td class="text-center">
                                        <a href="detalhes.html" class="btn btn-sm btn-outline-primary me-1"> 
                                            <i class="fa-solid fa-circle-info"></i> 
                                        </a>
                                        <a href="editar.html" class="btn btn-sm btn-outline-warning me-1"> 
                                            <i class="fa-solid fa-file-pen"></i> 
                                        </a> 
                                        <a href="remover.html" class="btn btn-sm btn-outline-danger me-1"> 
                                            <i class="fa-solid fa-trash-can"></i> 
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="vistaDetalhe" class="d-none mb-5">
                    <div class="row g-3">
                        <div class="col-lg-4">
                            <div class="card admin-card shadow rounded">
                                <div class="card-body ">
                                    <h5 class="detail-section-title mb-4 text-center">
                                        <i class="fa-solid fa-house-medical-flag fa-2x"></i>
                                    </h5>
                                    <p><strong>Código:</strong> [Código]</p>
                                    <p><strong>Edifício:</strong> [Edifício]</p>
                                    <p><strong>Piso:</strong> [Piso]</p>
                                    <p><strong>Serviço/Departamento:</strong> [Serviço]</p>
                                    <p><strong>Acesso:</strong> [Acesso]</p>
                                    <p><strong>Sala/Gabinete:</strong> [Sala/Gabinete]</p>
                                    <p><strong>Responsável:</strong> [Responsável]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>                         

    <!-- Bootstrap JS and custom JS --> 
    <script src="../../../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../../assets/js/1241327.js"></script>


</body>
</html>