<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stay This.Positive</title>

    <!-- Bootstrap CSS & custom CSS -->
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/1241327.css"> 

    <!-- Google Fonts -->     
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,700;1,400&display=swap" rel="stylesheet"> 

    <!-- Favicon -->
    <link rel="shortcut icon" href="../../../assets/img/logo branco.png" type="image/png">

    <!-- Fontawesome  -->
    <link rel="stylesheet" href="../../../assets/fontawesome/all.min.css">

</head>

<body>
    <!-- Navbar -->
    <header class="container-fluid admin-navbar text-white">
        <div class="row align-items-center">
            <div class="col-6 d-flex align-items-center p-3">
                <!-- Logo e nome -->
                <a href="../../indexpriv.html">
                    <img src="../../../assets/img/logo branco.png" alt="Logótipo da empresa" height="80" class="me-3">
                </a>
                <h3 class ="mb-0">Stay This.Positive</h3>
            </div>

            <div class="col-6 text-end p-3">
                <div class="dropdown">
                    <button class="btn admin-user-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-regular fa-user me-2"></i>Utilizador</button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-key me-2"></i>Alterar palavra-passe</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="../../login/login.html"><i class="fa-solid fa-right-from-bracket me-2"></i>Sair</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <!-- Botão do menu -->
    <button class="btn admin-menu-btn m-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuLateral"><i class="fa-solid fa-bars"></i></button>

    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div class="offcanvas offcanvas-start admin-sidebar text-white" tabindex="-1" id="menuLateral">
                <div class="offcanvas-header">
                    <h4 class="offcanvas-title">Menu</h4>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
                </div>

                <div class="offcanvas-body">
                    <nav>
                        <a href="../equipamentos/listar.html" class="nav-link text-white px-0 mb-3 d-block">
                            <i class="fa-solid fa-laptop-medical"></i> &ensp; Equipamentos</a>
                        <a href="listar.html" class="nav-link text-white px-0 mb-3 d-block">
                            <i class="fa-solid fa-truck-medical"></i> &ensp; Fornecedores</a>
                        <a href="../localizacoes/listar.html" class="nav-link text-white px-0 mb-3 d-block">
                            <i class="fa-solid fa-house-medical-flag"></i> &ensp; Localizações</a>
                        <a href="../documentacao/listar.html" class="nav-link text-white px-0 mb-3 d-block">
                            <i class="fa-solid fa-clipboard-user"></i> &ensp; Documentação</a>
                        <a href="../garantias_contratos/listar.html" class="nav-link text-white px-0 mb-3 d-block">
                            <i class="fa-solid fa-receipt"></i> &ensp; Garantias/Contratos</a>
                        <a href="../dashboard/dashboard.html" class="nav-link text-white px-0 mb-3 d-block">
                            <i class="fa-solid fa-file-waveform"></i> &ensp; Dashboard</a>
                    </nav>
                </div>
            </div>

            <!-- Conteúdo Principal -->
            <main class="col-12 pt-0 pb-4 px-4">
                <div class="d-flex justify-content-center mt-1">
                    <div class="card admin-card w-100 shadow rounded" style="max-width: 950px;">
                         <div class="card-body">
                            <h2 class="mb-4"><strong><i class="fa-solid fa-pen-to-square me-2"></i> Editar fornecedor</strong></h2>
                            <form action="#" method="post" novalidate>
                                <!-- Designação e Tipo de fornecedor -->
                                <div class="row mb-3">
                                    <div class="col-md-8">
                                        <label for="texto_nome" class="form-label">Nome da empresa<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="texto_nome" placeholder="Ex: Dräger" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="texto_tipo_fornecedor" class="form-label">Tipo de fornecedor<span class="text-danger">*</span></label>
                                        <select class="form-select" id="texto_tipo_fornecedor" name="tipo_fornecedor" required>
                                            <option selected>Escolha uma opção</option>
                                            <option value="fabricante">Fabricante</option>
                                            <option value="distribuidor">Distribuidor/fornecedor comercial</option>
                                            <option value="assistencia_tecnica">Empresa de assistência técnica</option>
                                            <option value="consumiveis">Fornecedor de consumíveis/acessórios</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Morada e Código postal -->
                                <div class="row mb-3">
                                    <div class="col-md-8">
                                        <label for="texto_morada" class="form-label">Morada<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="texto_morada" placeholder="Ex: Rua Engenheiro Frederico Ulrich TecMaia, nº21, Moreira " required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="texto_codigo_postal" class="form-label">Código postal<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="texto_codigo_postal" placeholder="Ex: 4470-605" required>
                                    </div>
                                </div>

                                <!-- NIF e Contacto da empresa -->
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="texto_NIF" class="form-label">NIF<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="texto_NIF" placeholder="Ex: 500123456" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="texto_contacto_telefonico" class="form-label">Contacto da empresa<span class="text-danger">*</span></label>
                                        <input type="tel" class="form-control" id="texto_contacto_telefonico" placeholder="Ex: 211 554 587" required>
                                    </div>
                                </div>

                                <!-- Email e Website -->
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="texto_email" class="form-label">Email<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="texto_email" placeholder="Ex: geral@drager.pt" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="texto_website" class="form-label">Website<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="texto_website" placeholder="Ex: https://www.draeger.com/pt-br_br/Home" required> 
                                    </div>
                                </div>

                                <!-- Pessoa de contacto e Número telefónico -->
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="texto_pessoa_contacto" class="form-label">Pessoa de contacto<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="texto_pessoa_contacto" placeholder="Ex: Rafael Alves" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="texto_numero_telefonico" class="form-label">Número telefónico (pessoa de contacto)<span class="text-danger">*</span></label>
                                        <input type="tel" class="form-control" id="texto_numero_telefonico" placeholder="Ex: +351 999 999 999" required>
                                    </div>
                                </div>

                                <!-- Observações -->
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <label for="texto_observacoes" class="form-label">Observações</label>
                                        <textarea class="form-control" id="texto_observacoes" placeholder="Ex: Fornecedor especializado em equipamentos de ventilação, anestesia e monitorização hospitalar." rows="4"></textarea>
                                    </div>
                                </div>

                                <!-- Botões -->
                                <div class="d-flex justify-content-center gap-3 mb-4">
                                    <a href="listar.html" class="btn admin-btn-cancel">
                                        <i class="fa-solid fa-xmark me-1"></i>Cancelar
                                    </a>
                                    <button type="submit" class="btn admin-btn-save">
                                        <i class="fa-regular fa-floppy-disk me-1"></i>Guardar
                                    </button>
                                </div>

                                <!-- Erros -->
                                <div class="alert alert-danger text-center d-none" role="alert"> Erro </div>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
         </div>  
    </div>                         

    <!-- Bootstrap JS and custom JS --> 
    <script src="../../../assets/js/bootstrap.bundle.min.js"></script>


</body>
</html>